@(
    defaultId: String,
    successMessage: Option[String],
    dangerMessage: Option[String]
)
@views.html.template {
    @successMessage.map { msg =>
    <div class="alert alert-success" role="alert">
        @msg
    </div>
    }

    @dangerMessage.map { msg =>
    <div class="alert alert-danger" role="alert">
        @msg
    </div>
    }

    <div class="container">

        <div class="page-header">
            <div class="jumbotron">
                <h1>Dwango Short Links</h1>
                <p>
                    社内用短縮リンクサービスです。 <q>&lt;keyword&gt;</q> を登録すると、
                    <q>http://go.paas.db.dwango.co.jp/&lt;keyword&gt;</q> でリンクすることができます。
                </p>
                <p>
                    Google Chrome を利用している場合、<q>設定 - 検索 - 検索エンジンの管理 - その他の検索エンジン</q>から
                    キーワード:<q>go</q>、 URL: <q>http://go.paas.db.dwango.co.jp/%s</q> を設定すると、
                    アドレスバーに <q>go &lt;keyword&gt;</q> と入力することで短縮リンク先にアクセスできます。
                </p>
            </div>
        </div>

        <h3>新規登録</h3>
        @helper.form(routes.PostController.post(), 'class -> "form-inline") {
            <div class="form-group">
                <label>キーワード</label>
                <input class="form-control" type="text" name="id" value="@defaultId" />
            </div>
            <div class="form-group">
                <label>リンク先</label>
                <input class="form-control" type="text" name="destination" value="" />
            </div>
            <div class="form-group">
                <label>おなまえ </label>
                <input class="form-control" type="text" name="owner" value="" />
            </div>
            <input type="submit" class="btn btn-default" />
        }

        <h3>削除</h3>
        @helper.form(routes.DeleteController.delete(), 'class -> "form-inline") {
            <div class="form-group">
                <label>キーワード</label>
                <input class="form-control" type="text" name="id" value="" />
            </div>
            <div class="form-group">
                <label>おなまえ </label>
                <input class="form-control" type="text" name="owner" placeholder="登録時に指定した名前" />
            </div>
            <input type="submit" class="btn btn-default" />
        }
    </div>
}
